{
"EmailServiceSmptServer": "in-v3.mailjet.com",
"EmailServiceSmptPort" : 587,
"EmailServiceUsername": "demo",
"EmailServicePassword": "demo",
"AlertServiceEmailFrom": "phil@unitysoftware.co.uk",
"AlertServiceEmailTo" : "phil@unitysoftware.co.uk",
"AlphaVantageAPIKey" : "demo",
"RapidAPIKey" : "demo"
}